In [1]:
# definition of list :- A list is a data structure in Python that is mutable or changeable , ordered sequence of elements
# each element or value that is inside a list is called an item.List is denoted by[].

In [2]:
#Python is case sensitive language

In [3]:
print('he's good'!)

SyntaxError: invalid syntax (<ipython-input-3-e04202e8c99c>, line 1)

In [4]:
print("he's a good ")

he's a good

In [5]:
print('''He said that "India is his country"''')

He said that "India is his country"

In [1]:
# calculation in python
2+3 # addition

5

In [2]:
# multiplication
2*3

6

In [3]:
# subtraction
5-1

4

In [5]:
# division , division always give floating point number
4/2

2.0

In [6]:
#exponent
2**4

16

In [7]:
# floor value gives nearest integer
10//3

3

In [16]:
# modulus returns remainder
27%2

1

In [12]:
# calcualte squareroot
print(4**(1/2))

2.0

In [15]:
# cuberoot 
27**(1/3)

3.0

In [8]:
# type() function is used to know the type of variable or values
type(55)

int

In [9]:
type(16.7)

float

In [10]:
a=56
type(a)

int

In [11]:
type('A')

str

In [18]:
type(True)

bool

In [19]:
# to decalre a variable
a=10
b=10
c=a+b
print(c)

20

In [21]:
# input function used to take input from user
age=input("Enter your age")
print("age is ",age)

Enter your age20
age is  20

In [24]:
# to take input for a specific data type
age=float(input("Enter your age: "))
print( "Your age is " ,age)

Enter your age: 20
Your age is  20.0

In [25]:
# if we do not specify the data type , input function by default store it as string
height=input("Enter your Height: ")
type(height)

Enter your Height: 5'2

str

In [26]:
# Multiassignment
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

In [27]:
# assign same value to multiple variables
a=b=c=4
print(a)
print(b)
print(c)

4
4
4

In [30]:
#Type casting
# int to float
a=4
print(type(a))
float(a)

<class 'int'>

4.0

In [31]:
# float to int
b=12.32
print(type(b))
int(b)

<class 'float'>

12

In [32]:
# int to str
x=24
print(type(x))
str(x)

<class 'int'>

'24'

In [33]:
# str to int
S="Hello"
print(type(S))
int(S)
# it is not possible to convert a string into int so it gives error

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Hello'

In [34]:
# another way of str to int
S="5"
print(type(S))
int(S)
# it coverts because our string value is numerical entity instead of character

<class 'str'>

5

In [1]:
# logical operators in Python
# euqals to (==) , used to compare two entities 
x=80
y=30
print(x==y)

False

In [2]:
# Not equals to(!=)
a=30
b=80
print(a!=b)

True

In [3]:
# less than euqals to (<=)
a=30
b=80
print(a<=b)

True

In [4]:
# greater than equals to
print(a>=b)

False

In [5]:
# Strings
string="hello world"
print(string)

hello world

In [6]:
# len() function used to find length of s string
print(len(string))

11

In [7]:
len('Pyhton')

6

In [9]:
# len function also count whitespaces
len("a b c")

5

In [10]:
# Indexing of string from right starts with -1 
# and from left starts with 0

In [12]:
# print first character of string
string="hello world"
print(string[0])

h

In [14]:
# print characters starting from 7 to 10
print(string[7:10])

orl

In [15]:
# print characters from 5
print(string[5:])

 world

In [16]:
#Print from second character to one character before the last
print(string[1:-2])

ello wor

In [17]:
# print string more than one times
print(string*3)

hello worldhello worldhello world

In [18]:
# two string can be concatenated using + operator
print(string + " how's this")

hello world how's this

In [19]:
print(string[-4:-1]*3)

orlorlorl

In [21]:
A="abcd"
print(A[0:3] + "Pqr")

abcPqr

In [22]:
# to lowercase a string
string1="AbcDefgHj"
print(str.lower(string1))

abcdefghj

In [23]:
# to uppercase a  string
print(str.upper(string1))

ABCDEFGHJ

In [ ]:
# to give title a string
print(str.title(string1))